pip==25.1.1
setuptools==69.5.1
wheel==0.45.1
ray[data]==2.42.0
ray[client]==2.42.0
ray[default]==2.42.0
ray[serve]==2.42.0
raydp==1.6.2

pyspark[sql,mllib]==3.5.4
delta-spark==3.3.2

numpy==1.26.4
pandas==2.2.3
pyarrow==15.0.0

torch
torchvision
transformers
accelerate
tokenizers
huggingface-hub
sentence-transformers
evaluate
datasets

xgboost==2.1.1

jupyterlab
notebook
ipython
ipykernel
jupyter-client
jupyter-core
jupyterlab-widgets
widgetsnbextension

fastapi
uvicorn[standard]
starlette
gunicorn

snowflake-snowpark-python[pandas]
snowflake-ml-python

jupyterlab-nvdashboard
prometheus-client

cloudpickle
psutil
packaging
click
pydantic
pydantic-core
typing-extensions


pytorch-lightning
bitsandbytes
xformers
torch
vllm>=0.6.0,<0.7.0

tqdm
rich
tabulate
humanize